body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-bottom: 12px;
}

#container {
  width: 500px;
  height: 500px;
  justify-self: center;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.smallDiv {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.changeColor {
  background-color: black;
}
